@{
    ViewData["Title"] = "Home Page";
}
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>TECHNICAL DESK..!!!</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>WELCOME TO OUR PROJECT..!!!</h2>
        <p>
            IN This project We Register The New Employee So,
            He/She can be able to Raise the Query. And without
            Registration He/She Can't be able To Raise Query'
            We can Raise The Query By Giving the category
            of the Query and Asking Some one to Give Solution
            or the Reference
            of that Query.
        </p>
    </div>
    <div class="col-md-4">
        <h2>FUNCTIONALITIES..!!</h2>
        <p>1.SEARCHING.</p>
        <p>2.SORTING.</p>
        <p>3.PAGINATION.</p>
        <p>4.STORING ARTIFACT</p>

    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GITHUB123456.</p>

    </div>
</div>
